{% form 'product',
product,
data-product-form: '',
data-product-handle: product.handle,
data-enable-history-state: 'true' %}
  {% if product.has_only_default_variant %}
    <input type="hidden" name="id" value="{{ current_variant.id }}">
  {% else %}
    <select name="id">
      {% for variant in product.variants %}
        <option
          {% if variant == current_variant %}selected="selected"{% endif %}
          {% unless variant.available %}disabled="disabled"{% endunless %}
          value="{{ variant.id }}">
            {{ variant.title }}
        </option>
      {% endfor %}
    </select>
  {% endif %}


  <input type="hidden" id="Quantity" name="quantity" value="1" min="1">

  <button
    class="button mt-4 md:mt-9"
    type="submit"
    name="add"
    data-submit-button
    {% unless current_variant.available %}disabled="disabled"{% endunless %}>
      <span data-submit-button-text>
        {% if current_variant.available %}
          {{ 'products.product.add_to_cart' | t }}
        {% else %}
          {{ 'products.product.sold_out' | t }}
        {% endif %}
      </span>
  </button>
{% endform %}