{% capture 'desktop_list_class' %}
  pt-2 hidden md:flex flex-row items-center md:space-x-8 lg:space-x-16 site-header__nav
{% endcapture %}

{% capture 'list_wrapper_class' %}
  uppercase-sm-mob md:uppercase-desk
{% endcapture %}

<div data-section-id="{{ section.id }}" data-section-type="header" class="site-header">
  {% if section.settings.announcement != blank %}
    <div class="site-header__announcement text-center px-8 lg:px-10 py-2 md:py-4 bg-orange border-b flex-center">
      <p class="pt-1">{{ section.settings.announcement }}</p>
    </div>
  {% endif %}
  <header role="banner" class="px-8 lg:px-16 flex flex-row items-center bg-rose site-header__nav">

   {% include 'mobile-nav' %}

    <nav role="navigation" class="flex-1 {{ list_wrapper_class }}">
      <button  v-on:click="mobileNavVisible = true" class="block w-4 mr-auto md:hidden site-header__hamburger" type="button">
        <img src="{{ 'hamburger.svg' | asset_url }}" alt="Menu" />
        <span class="hamburger-label uppercase-sm-mob sr-only">Menu</span>
      </button>
      <ul class="{{ desktop_list_class }} justify-start">
        {% include 'nav-list' list: section.settings.left_linklist %}
      </ul>
    </nav>

    {% if template.name == 'index' %}
      <h1 class="flex-none" itemscope itemtype="http://schema.org/Organization">
    {% else %}
      <div class="flex-none" itemscope itemtype="http://schema.org/Organization">
    {% endif %}

      <a class="site-header__logo-wrapper block" href="/" itemprop="url" class="site-logo{% if section.settings.logo != blank %} site-header__logo-image{% endif %}">
        <img class="block" src="{{ 'logo.svg' | asset_url }}" alt="{{ shop.name }}" itemprop="logo">
      </a>

    {% if template.name == 'index' %}
      </h1>
    {% else %}
      </div>
    {% endif %}


    <nav role="navigation" class="flex-1 {{ list_wrapper_class }}">
      <ul class="{{ desktop_list_class }} justify-end">
        {% include 'nav-list' list: section.settings.right_linklist %}
        {% include 'account-links' %}
        {% include 'cart-nav-list-item' %}
      </ul>

      <ul class="md:hidden pt-1 flex flex-row justify-end">
        {% include 'cart-nav-list-item' %}
      </ul>
    </nav>
  </header>
</div>

{% schema %}
  {
    "name": "Header",
    "class": "sticky top-0 z-10",
    "settings": [
      {
        "type": "text",
        "id": "announcement",
        "label": "Announcement",
        "default": "Luptatia cumet, sum veles nam laborec tempor si voluptat aute voluptur lorem ispum dolorpostrum."
      },
      {
        "type": "link_list",
        "id": "left_linklist",
        "label": "Menu",
        "default": "main-menu"
      },
      {
        "type": "link_list",
        "id": "right_linklist",
        "label": "Menu",
        "default": "main-menu"
      }
    ]
  }
{% endschema %}
