{%- capture navigation_class -%}
z-10 absolute hidden md:block top-0 bottom-0 h-full outline-none w-1/4 md:w-1/8
{%- endcapture -%}

<section class="image-carousel bg-rose py-14 md:pt-32 md:pb-42 {{ section.settings.border_top_class }}" data-section-type="image-carousel" data-section-id="{{ section.id }}">

  <h2 data-animate="slide-up" class="text-center max-w-sm-em mx-auto text-xl-mob md:text-2xl-tight-desk">{{ section.settings.heading }}</h2>

  <div
  data-animate="fade-in delay"
  class="block image-carousel__images mt-6 md:mt-16"
  href="{{ section.settings.url }}"
  title="{{ section.settings.heading }}" >
    <div class="swiper-container">
      <div class="swiper-wrapper">
        {% for block in section.blocks %}
          <div class="swiper-slide w-1/2 md:w-1/4">
            <a class="block mx-3-per md:mx-4-per"
            target="_blank"
            href="{{ block.settings.url }}">
              {% include 'responsive-image',
                image: block.settings.image,
                crop_aspect_ratio: 1,
                inline_aspect_ratio: true,
                fit: 'cover' %}
            </a>
          </div>
        {% endfor %}
      </div>
      <div class="{{ navigation_class }} image-carousel__prev left-0 right-auto cursor-w-resize"></div>
      <div class="{{ navigation_class }} image-carousel__next right-0 left-auto cursor-e-resize"></div>
    </div>
  </div>

</section>

{% schema %}
  {
    "name": "Image Carousel",
    "max_blocks": 12,
    "settings": [
      {
        "type": "select",
        "id": "border_top_class",
        "label": "Top Border",
        "default": "border-t-0",
        "options": [
          {
            "value": "border-t-0",
            "label": "None"
          },
          {
            "value": "md:border-t",
            "label": "Desktop Only"
          },
          {
            "value": "border-t md:border-t-0",
            "label":  "Mobile Only"
          },
          {
            "value": "border-t",
            "label": "Mobile & Desktop"
          }
        ]
      },
      {
        "label": "Heading",
        "id": "heading",
        "type": "text",
        "default": "#SockCandy"
      },
      {
        "label": "Open link in new window",
        "id": "target_blank",
        "type": "checkbox",
        "default": true
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "label": "Image",
            "id": "image",
            "type": "image_picker"
          },
          {
            "label": "Link URL",
            "id": "url",
            "type": "url",
            "default": "/"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Image Carousel",
        "category": "Image",
        "blocks": [
          {
            "type": "image"
          },
          {
            "type": "image"
          },
          {
            "type": "image"
          },
          {
            "type": "image"
          },
          {
            "type": "image"
          }
        ]
      }
    ]
  }
{% endschema %}

