<section class="bg-orange">
  {%- capture parameters -%}
  title=0
  &byline=0
  &portrait=0
  &playsinline=1
  &muted={{ section.settings.muted }}
  &autoplay={{ section.settings.autoplay }}
  &autopause={{ section.settings.autopause }}
  &loop={{ section.settings.loop }}
  {%- endcapture -%}

  <div class="relative" style="padding-top: {{ section.settings.aspect_ratio }}%; height: 0; overflow: hidden">
    <iframe
    class="inset-0 w-full h-full absolute"
    src="https://player.vimeo.com/video/{{ section.settings.video_url.id }}?{{ parameters | strip_newlines }}"
    allow="autoplay; fullscreen"
    frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
</section>

{% schema %}
  {
    "name": "Video",
    "settings": [
      {
        "id": "video_url",
        "type": "video_url",
        "label": "Video URL",
        "accept": ["vimeo"],
        "default": "https://vimeo.com/336812660"
      },
      {
        "id": "loop",
        "type": "checkbox",
        "label": "Loop",
        "default": false
      },
      {
        "id": "autoplay",
        "type": "checkbox",
        "label": "Autoplay",
        "default": false
      },
      {
        "id": "autopause",
        "type": "checkbox",
        "label": "Autopause",
        "default": false
      },
      {
        "id": "aspect_ratio",
        "type": "range",
        "unit": "%",
        "min": 50,
        "max": 100,
        "step": 0.5,
        "default": 56,
        "label": "Aspect Ratio"
      }
    ],
    "presets": [
      {
        "name": "Video",
        "category": "Video"
      }
    ]
  }
{% endschema %}
